syntax: glob
web/obj/
web/bin/
packages/
.vs/
KGTMachineLearningWeb.Repository/bin/
KGTMachineLearningWeb.Repository\obj\Debug\KGTMachineLearningWeb.Repository.csproj.CopyComplete
KGTMachineLearningWeb.Repository\obj\Debug\KGTMachineLearningWeb.Repository.csproj.FileListAbsolute.txt
KGTMachineLearningWeb.Repository\obj\Debug\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KGTMachineLearningWeb.Repository\obj\Debug\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KGTMachineLearningWeb.Repository\obj\Debug\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KGTMachineLearningWeb.Models\bin\Debug\Newtonsoft.Json.xml
KGTMachineLearningWeb.Models\obj\Debug\KGTMachineLearningWeb.Models.csproj.CopyComplete
KGTMachineLearningWeb.Models\obj\Debug\KGTMachineLearningWeb.Models.csproj.FileListAbsolute.txt
KGTMachineLearningWeb.Models\obj\Debug\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KGTMachineLearningWeb.Models\obj\Debug\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KGTMachineLearningWeb.Models\obj\Debug\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KGTMachineLearningWeb.Domain\bin\Debug\Microsoft.AspNet.WebFormsDependencyInjection.Unity.xml
KGTMachineLearningWeb.Domain\bin\Debug\Newtonsoft.Json.xml
KGTMachineLearningWeb.Domain\obj\Debug\KGTMachineLearningWeb.Domain.csproj.CopyComplete
KGTMachineLearningWeb.Domain\obj\Debug\KGTMachineLearningWeb.Domain.csproj.FileListAbsolute.txt
KGTMachineLearningWeb.Domain\obj\Debug\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KGTMachineLearningWeb.Domain\obj\Debug\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KGTMachineLearningWeb.Domain\obj\Debug\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KGTMachineLearningWeb.Config\bin\Debug\KGTMachineLearningWeb.Config.dll.config
KGTMachineLearningWeb.Config\bin\Debug\Newtonsoft.Json.xml
KGTMachineLearningWeb.Config\bin\Debug\System.Net.Http.Formatting.xml
KGTMachineLearningWeb.Config\bin\Debug\System.Web.Http.WebHost.xml
KGTMachineLearningWeb.Config\bin\Debug\System.Web.Http.xml
KGTMachineLearningWeb.Config\obj\Debug\KGTMachineLearningWeb.Config.csproj.CopyComplete
KGTMachineLearningWeb.Config\obj\Debug\KGTMachineLearningWeb.Config.csproj.FileListAbsolute.txt
KGTMachineLearningWeb.Config\obj\Debug\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KGTMachineLearningWeb.Config\obj\Debug\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KGTMachineLearningWeb.Config\obj\Debug\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KGTMachineLearningWeb.Common/bin/
KGTMachineLearningWeb.Common\obj\Debug\KGTMachineLearningWeb.Common.csproj.CopyComplete
KGTMachineLearningWeb.Common\obj\Debug\KGTMachineLearningWeb.Common.csproj.FileListAbsolute.txt
KGTMachineLearningWeb.Common\obj\Debug\TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KGTMachineLearningWeb.Common\obj\Debug\TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KGTMachineLearningWeb.Common\obj\Debug\TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KGTMachineLearningWeb.Repository/obj/
KGTMachineLearningWeb.Models/bin/
KGTMachineLearningWeb.Models/obj/
KGTMachineLearningWeb.Context/bin/
KGTMachineLearningWeb.Context/obj/
KGTMachineLearningWeb/obj/
KGTMachineLearningWeb.Config/bin/
KGTMachineLearningWeb.Domain/bin/
KGTMachineLearningWeb/TempChartThumbnails/
KGTMachineLearningWeb/App_Data/
KGTMachineLearningWeb/bin/
KGTMachineLearningWeb.Domain/obj/
KGTMachineLearningWeb.Config/obj/
KGTMachineLearningWeb/ChartData/
KGTMachineLearningWeb.Common/obj/
KGTMachineLearningWeb/ExportedData/
.hg*