syntax: glob
web/obj/
web/bin/
packages/
.vs/
*/bin/*
*/obj/*
DataVisualization/TempChartThumbnails/
DataVisualization/ChartData/
DataVisualization/ExportedData/
.hg*
/DataVisualization/App_Data/DataVisualization.mdf
/DataVisualization/App_Data/DataVisualization_log.ldf
/DataVisualization/Content/Thumbnails
